 <!--Filter Bar(options search)-->
 
<div class="filter-wrapper">
    <p>Recomendations</p>
    <div class="filter">
        <a href="/DataAnalyst" style="text-decoration:none; color:inherit"><button class="btn-filter"  name="Data Analyst">Data Analyst</button></a>
        <a href="/SoftwareDevloper" style="text-decoration:none; color:inherit"><button class="btn-filter" name="Software Devloper">Software Developer</button></a>
        <a href="/DataEngineer" style="text-decoration:none; color:inherit"><button class="btn-filter" name="Data Engineer">Data Engineer</button></a>
        <a href="/WebDeveloper" style="text-decoration:none; color:inherit"><button class="btn-filter" name="Web Developer">Web Developer</button></a>
        <a href="/BlockChainDeveloper" style="text-decoration:none; color:inherit"><button class="btn-filter" name="BlockChain Developer">Block Chain Developer</button></a>
        <a href="/SoftwareTesting" style="text-decoration:none; color:inherit"><button class="btn-filter" name="Software Testing">Software Testing</button></a>
        <a href="/All" style="text-decoration:none; color:inherit"><button class="btn-filter" name="All">All</button></a>
    </div>
</div>