<!--Main DIv(Central Part)-->
<div class="main">
    <div class="main-header">
        <ion-icon class="menu-bar" name="menu-outline"></ion-icon>
        <div class="search">
            <input type="search" placeholder="Search for Jobs Here...">
            <button class="btn-search"><ion-icon name="search-outline"></ion-icon></button>
        </div>
    </div>