

<!--Side Bar-->
<div class="sidebar">
    <h1 class="logo">JobsPlace</h1>
    <ion-icon name="home-filled" size="large"></ion-icon>
    <div class="menus">
        
        <a href="/Home"><ion-icon name="home-outline"></ion-icon>Home</a>
        <a href="/AddPost"><ion-icon  name="newspaper-outline"></ion-icon>AddJobs</a>
        <a href="/ViewJobs"><ion-icon  name="stats-chart-outline"></ion-icon>FindJobs</a>
        <a href="#"><ion-icon  name="bookmarks-outline"></ion-icon>Bookmarks</a>
        <a href="#"><ion-icon  name="mail-unread-outline"></ion-icon>Mesages</a>
        <a href="#"><ion-icon  name="settings-outline"></ion-icon>Settings</a>
    </div>
<!--Adding Profile-->
    <div class="profile">
        <img src="images/profile.jpg" class="profile-img"/>
        <div class="profile-name">
            <h4><%= PersonName %></h4>
            <p>Student</p>
        </div>
    </div>
</div>