<!--Sort Section-->
<div class="sort">
    <p>Sort</p>
    <div class="sort-list">
        <select>
            <option value="0">All</option>
            <option value="1">New posts</option>
            <option value="2">A week ago</option>
            <option value="3">Oldest Posts</option>
            <option value="4">Most Relevant</option>
            <option value="5">Highest Paid</option>
        </select>
    </div>
</div>